.body__main {
  width: 100%;
  background-image: url("../img/index-slogan-cat.jpg");
  background-position: top;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    background: @basic-white;
  }
}
