.body__main--mobile {
  width: 100%;
  background: url("../img/index-slogan-cat.jpg");
  background-position: top;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    background: @basic-white;
  }
}

.body__main {
  @media (min-width: 1300px) {
    background-image: url(../img/index-cat-desktop.jpg);
    background-position: top right;
    background-repeat: no-repeat;
  }
}
