.bonus {
  height: 289px;
  background-image: url("../img/bonus-cat.png");
  background-repeat: no-repeat;
}

.bonus__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white; //в браузере сейчас слилась с экраном
}
