.header {
  @media (min-width: 768px) {
    background: @basic-white;
  }

  @media (min-width: 1300px) {
    background: linear-gradient(to right, rgb(255,255,255) 50%, rgba(104, 183, 56, 0.85) 50%);
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}
