.header {
  display: flex;
  position: relative;
  padding-bottom: 10px;

  &::before {
    position: absolute;
    content: "";
    top: 100%;
    width: 100%;
    height: 302px;
    background-image: url("../img/index-cat-mobile.jpg");
    background-color: @basic-green;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }

  @media (min-width: @tablet-width) {
    padding-right: 30px;
    margin-bottom: 25px;
    &::before {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 105px;

    &::before {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 52%;
      height: 640px;
      background-image: url("../img/index-cat-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }
}

.header--form {
  &::before {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 70px;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    white-space: nowrap;
  }
}

.header__image {
  padding-bottom: 0;

  @media (min-width: @tablet-width) {
    margin-right: 90px;
  }
}

.header__picture {
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 90px;
  }
}

.header__img {
  position: relative;
}

.header__button--closed {
  position: absolute;
  content: "";
  right: 20px;
  top: 20px;
  width: 24px;
  height: 1px;
  background-color: @basic-black;
  border: none;

  &::before {
    border: none;
    position: absolute;
    content: "";
    right: 0;
    top: 7px;
    width: 24px;
    height: 1px;
    background-color: @basic-black;
  }

  &::after {
    border: none;
    position: absolute;
    content: "";
    right: 0;
    top: 14px;
    width: 24px;
    height: 1px;
    background-color: @basic-black;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width)and(max-width: @max-desktop-width) {
    display: none;
  }
}

.header__button--opened {
  position: absolute;
  content: "";
  right: 20px;
  top: 25px;
  width: 24px;
  height: 1px;
  background-color: @basic-black;
  border: none;
  transform: rotate(45deg);

  &:before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 24px;
  height: 2px;
  background-color: @basic-black;
  border: none;
  transform: rotate(90deg);
  }
}
