.maincatalog__wrapper {
  margin-bottom: 19px;
}

.maincatalog__title {
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @basic-black;
  padding-top: 27px;
  padding-bottom: 41px;
  border-top: 1px solid @dark-grey;
  border-bottom: 1px solid @dark-grey;

  @media (min-width: @tablet-width) {
    border: none;
  }
}
