.nav {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }

  @media (min-width: 1300px) {
    display: flex;
  }
}

.nav__toggle {
  background-color: @basic-white;
  position: relative;
}

.nav__toggle--button {
  position: absolute;
  content: "";
  right: 20px;
  top: 20px;
  width: 24px;
  height: 1px;
  background-color: @basic-black;
  border: none;

  &::before {
    border: none;
    position: absolute;
    content: "";
    right: 0px;
    top: 7px;
    width: 24px;
    height: 1px;
    background-color: @basic-black;
  }

  &::after {
    border: none;
    position: absolute;
    content: "";
    right: 0px;
    top: 14px;
    width: 24px;
    height: 1px;
    background-color: @basic-black;
}

@media (min-width: 768px) {
  display: none;
}

@media (min-width: 1300px) {
  display: none;
}
  }

.nav__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  padding-top: 15px;
}

.nav__item {
  padding-left: 34px;
}

.nav__link {
  font-weight: 500;
  color: @basic-black;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  &--active {
    border-bottom: 2px solid @basic-green;
  }

  @media (min-width: 768px) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
}

