.nav {
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 90px;
  }
}

.nav__list {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    width: 50%;
  }
}

.nav__item {
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid @border-medium-grey;

  &:first-child {
    border-top: 1px solid @border-medium-grey;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    border-bottom: none;
    width: min-content;

    &:first-child {
      border-top: none;
    }
  }

  @media (min-width: @desktop-width) {
    align-items: flex-start;

    &:first-child {
    padding-right: 35px;
    }

    &:nth-child(2) {
      padding-right: 35px;
      }

    &:last-child {
      padding-right: 15px;
    }
  }
}

.nav__link {
  font-weight: 500;
  color: @basic-black;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  &--active {
    border-bottom: none;
  }

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    &--active {
      border-bottom: 2px solid @basic-green;
    }
  }

  @media (min-width: @desktop-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: @basic-white;

    &--active {
      border-bottom: 2px solid @basic-white;
    }
  }
}

.nav__link--form {
  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: @form-black;
  }
}

.nav__link--active-form {
  @media (min-width: @tablet-width) {
    border-bottom: 2px solid @basic-green;
  }
}
