.questionnaire__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @basic-black;
  width: 226px;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    width: 323px;
    padding: 0;
  }
}

.questionnaire__send {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding-bottom: 72px;
  }
}

.questionnaire__button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    margin-left: 71px;
    margin-right: 61px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
    margin-right: 81px;
  }
}

.questionaire__footnote {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: @basic-black;
  text-align: center;
}
