.slogan {
  width: 100%;
  margin-bottom: 20px;
}

.slogan__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
  }
}

.slogan__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @basic-white;
  text-align: center;
  padding-top: 27px;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    color: @basic-black;
    margin-bottom: 40px;
  }
}

.slogan__text {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: @basic-white;
  margin-bottom: 310px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 50px;
    left: -50px;
    width: 280px;
    height: 270px;
    background-image: url("../img/index-can.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    color: @basic-black;
    font-size: 20px;
    text-align: start;
    margin-bottom: 50px;

    &::before {
      position: absolute;
      content: "";
      top: 45px;
      left: 40px;
      width: 515px;
      height: 609px;
      background: url("../img/index-can.png") no-repeat;
      z-index: -1;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      position: absolute;
      content: "";
      top: -250px;
      left: 120%;
      width: 552px;
      height: 499px;
      background: url("../img/index-can.png") no-repeat;
      z-index: -1;
    }
  }
}

.slogan__button {
  @media (min-width: @tablet-width) {
    margin-bottom: 526px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 281px;
  }
}

.slogan__link {
  font-family: "Oswald", sans-serif;
  color: @basic-white;
  text-transform: uppercase;
}
